<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <data>

        <record model="ir.actions.act_window" id="action_course_list">
            <field name="name">Daftar Course</field>
            <field name="res_model">academic.course</field>
            <field name="help" type="html">
				<p class="oe_view_nocontent_create">
					Click to create new Course
				</p>
				<p>Klik tombol create untuk membuat Course baru</p>
			</field>
        </record> 

        <record model="ir.actions.act_window" id="action_session_list">
            <field name="name">Daftar Session</field>
            <field name="res_model">academic.session</field>
			<field name="view_mode">tree,form</field>
            <field name="help" type="html">
				<p class="oe_view_nocontent_create">
					Click to create new Session
				</p>
				<p>Klik tombol create untuk membuat Session baru</p>
			</field>
        </record> 

         <record model="ir.actions.act_window" id="action_attendee_list">
            <field name="name">Daftar Attendee</field>
            <field name="res_model">academic.attendee</field>
			<field name="view_mode">tree,form</field>
            <field name="help" type="html">
				<p class="oe_view_nocontent_create">
					Click to create new Attendee
				</p>
				<p>Klik tombol create untuk membuat Attendee baru</p>
			</field>
        </record> 

         <record model="ir.actions.act_window" id="action_instruktur_list">
            <field name="name">Daftar Instruktur</field>
            <field name="res_model">res.partner</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">['|',('is_instructor','=',True),('category_id','=','Instruktur')]</field>
	    <field name="context">{"default_is_instructor":1}</field>
        </record> 
 
       <!-- top menu -->
        <menuitem
            id="academic_0"
            name="Academic"
            sequence="10"/>

       <menuitem 
            id="academic_1"
			name="Academic" 
            parent="academic_0" 
            sequence="20"/> 

		<menuitem 
            id="menu_academic_course"
            name="Course" 
            parent="academic_1" 
            action="action_course_list" 
            sequence="20"/> 

		<menuitem 
            id="menu_academic_session"
            name="Session" 
            parent="academic_1" 
            action="action_session_list" 
            sequence="30"/> 

		<menuitem 
            id="menu_academic_attendee"
            name="Attendee" 
            parent="academic_1" 
            action="action_attendee_list" 
            sequence="40"/> 

		<menuitem 
            id="menu_academic_instruktur"
            name="Instruktur" 
            parent="academic_1" 
            action="action_instruktur_list" 
            sequence="50"/> 

    </data>
</odoo>
